.container-margin-status{
    margin-left: 10px !important;
    margin-right: 10px !important;
}

#img-about{
    height: 70 !important;
}

.line-about{
    margin-bottom: 30px !important;
}

.font-normal{
    font-weight: normal !important;
}

.modal {
    box-shadow: none !important;
}